<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div style="width: 100%; box-shadow:5px 5px 5px rgba(0, 0, 0, 0.4); border-radius: 10px; ">
            <h1 style="font-weight: bold; padding-bottom: 10px; border-bottom-color: 1px;">Transaction Details</h1>
            <div >
                <p>Date: Tue Jun 21 2021 </p>
            </div>
            <div>
                <p>Time: 12:23:20</p>
            </div>
            <div>
                <p>Reference: 1234345</p>
            </div>
            <div>
                <p>Amount: SUCCESSFUL</p>
            </div>
           
        </div>
        
        <div style="width: 100%; box-shadow:5px 5px 5px rgba(0, 0, 0, 0.4); border-radius: 10px; ">
            <h1 style="font-weight: bold;  padding-bottom: 10px; border-bottom-color: 1px;">Account Details</h1>
            <div>
                <p>Account Name: JAMASOFT CONCEPT LIMITED</p>
            </div>
            <div>
                <p>Account Number: ****568</p>
            </div>
            <div>
                <p>Channel: Paystack</p>
            </div>
           
        </div>
    </div>
    
</body>
</html>